<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/yeti/bootstrap.min.css" rel="stylesheet" integrity="sha384-bWm7zrSUE5E+21rA9qdH5frkMpXvqjQm/WJw4L5PYQLNHrywI5zs5saEjIcCdGu1" crossorigin="anonymous">

    <title>errnil, err != nil</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="/">errnil</a>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/docs">Documentation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/cpl/errnil">GitHub</a>
        </li>
      </ul>
    </nav>

    <br>

    <div class="jumbotron">
      <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
          <form>
            <div class="form-group">
              <h1> err != nil </h1>
              <label for="repoInput">Enter the <b>go get</b> path for the repo you want to inspect</label>
              <input type="text" class="form-control" id="repoInput" placeholder="cpl.li/go/errnil">
            </div>
            <button type="submit" class="btn btn-lg btn-info">Inspect</button>
          </form>
        </div>
        <div class="col-3"></div>
      </div>
    </div>

    <footer class="footer">
      <div class="container">
        <span class="text-muted"> © 2020 <b> errnil</b> by <a href="https://cpl.li">Alexandru-Paul Copil</a> </span>
      </div>
    </footer>
  </body>
</html>