<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/yeti/bootstrap.min.css" rel="stylesheet" integrity="sha384-bWm7zrSUE5E+21rA9qdH5frkMpXvqjQm/WJw4L5PYQLNHrywI5zs5saEjIcCdGu1" crossorigin="anonymous">

    <title>errnil, err != nil</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/">errnil</a>

    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="/docs">Documentation</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://github.com/cpl/errnil">GitHub</a>
        </li>
    </ul>
</nav>

<br>

<div class="jumbotron">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <h1> <span class="badge badge-danger"> 31 </span> cpl.li/go/errnil </h1>
            <hr>

            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    errnil/pkg/example
                    <span class="badge badge-primary badge-pill">3:15</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    errnil/pkg/example/store
                    <span class="badge badge-primary badge-pill">20:1</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    errnil/cmd/something
                    <span class="badge badge-primary badge-pill">1034:20</span>
                </li>
            </ul>
        </div>
        <div class="col-3"></div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <span class="text-muted"> © 2020 <b> errnil</b> by <a href="https://cpl.li">Alexandru-Paul Copil</a> </span>
    </div>
</footer>
</body>
</html>